<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <?php /*
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    */?>

    <!-- Bootswatch theme -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/spacelab/bootstrap.min.css" rel="stylesheet">
    <?php /* more choices: http://www.bootstrapcdn.com/#bootswatch_tab */?>

    <!-- Ionic Icons -->
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">

    <!-- Title Font -->
    <link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Days+One' rel='stylesheet' type='text/css'>
    <style>
      body {
        color: #212121;
      }
      #contact-info-box {
        float:right;
        width: 30%;
        border-color: #FF9800;
        background-color: #FF9800;
        color: #ffffff;

      }
      #name-banner {
        /*font-weight: bold;*/
        font-size: 48px;
        color: #455A64;
      }
      #title-banner {
        color: #607D8B;
      }
      h1,h2,h3,h4,h5 {
        font-family: 'Days One', sans-serif;
        font-weight: normal;
        color: #455A64;
        margin-top: 0px;
      }
      .panel-primary {
        border-color: #FF9800;
      }
      .panel-heading {
        background-color: #FF9800;
        border-color: #FF9800;
      }
      .employer-contact {
        float:right;
        text-align: right;
        width: 25%;
      }
      .panel-subsection {
        /* page-break-inside: avoid;
        https://mpdf.github.io/paging/page-breaks.html#page-break-inside
        This should work, but generates errors when used on a div.
        Looks like a bug: https://github.com/mpdf/mpdf/issues/302
        Tried it on a p tag, and got no errors, but things were FUBAR. */
      }
    </style>
  </head>
  <body>

    <div class="page-header">
      <div id="contact-info-box" class="alert alert-info">
        <address style="margin-bottom: 0px">
          <?=nl2br($data['address'])?>
          <abbr title="Phone">P:</abbr> <?=$data['phone']?><br>
          <abbr title="Email">E:</abbr> <?=$data['email']?>
        </address>
      </div>
      <h1 id="name-banner"><?=$data['name']?></h1>
      <h2 id="title-banner"><?=$data['title']?></h2>
    </div>
    <!-- Skills -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="ion-wand"></i>
          &nbsp; Relevant Skills
        </h3>
      </div>
      <div class="panel-body">
        <?php foreach($data['skills'] as $category => $skills):?>
        <h3><?= titleize($category)?></h3>
        <ul>
          <?php foreach($skills as $skill):?>
          <li><?= $skill ?></li>
          <?php endforeach; ?>
        </ul>
        <?php if($skills !== end($data['skills'])):?>
        <hr/>
        <?php endif;?>
        <?php endforeach; ?>
      </div>
    </div>

    <p style="page-break-before: always">

    <!-- Employment History -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="ion-settings"></i>
          &nbsp; Experience
        </h3>
      </div>
      <div class="panel-body">
        <?php foreach($data['employment_history'] as $k => $job):?>
        <div class="employer-contact">
          <?=nl2br($job['address'])?><br/>
          <?=$job['phone']?><br>
        </div>
        <h3><?= titleize($job['title'])?></h3>
        <h4><?= titleize($job['company'])?> <small><?=$job['timeframe']?></small></h4>
        <ul>
          <?php foreach($job['responsibilities'] as $responsibility):?>
          <li><?= $responsibility ?></li>
          <?php endforeach; ?>
        </ul>
        <?php if($job !== end($data['employment_history'])):?>
        <hr/>
        <?php endif;?>
        <?php endforeach; ?>
      </div>
    </div>

    <!-- <p style="page-break-before: always"> -->

    <!-- Education and Certifications -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="ion-university"></i>
          &nbsp; Education & Certifications
        </h3>
      </div>
      <div class="panel-body">
        <h3>IT Industry Certifications</h3>
        <ul>
          <?php foreach($data['certifications']['vendors'] as $vendor):?>
            <?php foreach($vendor['titles'] as $cert):?>
            <li><?= $cert ?></li>
            <?php endforeach; ?>
          <?php endforeach; ?>
        </ul>
        <hr/>
        <h3>Academic Credentials</h3>
        <ul>
          <?php foreach($data['education'] as $degree):?>
          <li><?= $degree['degree'] ?>. <?= $degree['institution'] ?>. <?= $degree['location'] ?>. <?= $degree['timeframe'] ?></li>
          <?php endforeach; ?>
        </ul>
      </div>
    </div>
  </body>
</html>
